{% extends '_base.html' %}
{% load account %}

{% block title %}Confirm email address{% endblock title %}

{% block content %}

{% if confirmation %}
<p>Please confirm registration of a new account with email address
    <a href="mailto:{{confirmation.email_address.email}}">{{confirmation.email_address.email}}</a>
</p>

<form action="{% url 'account_confirm_email' confirmation.key %}" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Confirm</button>

</form>

{% else %}
{% url 'account_email' as email_url %}

{% endif %}

{% endblock content %}
