html {
  height: 100%;
}

body {
    padding-top: 56px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }

ion-icon {
    font-size: 40px;
}

.card {
    position: relative;
}

.card ion-icon {
    top: 2.5%;
    right: 5%;
    position: absolute;
}

.carousel-item {
  height: 45vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.membership-levels {
  margin-top: 1.5rem;
}

.movie-item {
  margin-bottom: 30px;
}


.profile-item {
  margin-bottom: 30px;
}

.profile-item .card-title {
  color: dodgerblue
}

.reviews-section{
  margin: 1.5rem 0 1.5rem 0;
}

.card-footer ion-icon {
  color: #28a745;
}
