{% extends '_base.html' %}

{% load static %}

{% block title %}Movie Detail{% endblock title %}

{% block content %}
    <p class="title">{{movie.title}}</p>
    <p class="imdb_id">{{movie.imdb_id}}</p>
    <p class="plot">{{movie.plot}}</p>
    <p class="imdb_rating">{{movie.imdb_rating}}</p>

    {% include 'components/watched_movie_icon.html' %}

    <div class="reviews-container">
        <h3 class="reviews-header">Reviews:</h3>

        {% if perms.movies.paid_for_membership %}
            <div class="reviews-list">
                {% for review in movie.reviews.all %}
                    <div>
                        <p>Title: {{review.review_title}}</p>
                        <p>Review Text: {{review.review_text}}</p>
                        <p>Submission Date: {{review.submission_date}}</p>
                        <p>Author Rating: {{review.author_rating}}</p>
                    </div>
                {% empty %}
                    <p class="no-reviews">There are no reviews for this movies</p>
                {% endfor %}
            </div>
        {% else %}
            {% include 'components/prime_invitation.html' %}
        {% endif %}

    </div>
{% endblock content %}
