{% extends '_base.html' %}

{% load static %}

{% block title %}Movie Detail{% endblock title %}

{% block content %}
    <p class="title">{{movie.title}}</p>
    <p class="imdb_id">{{movie.imdb_id}}</p>
    <p class="plot">{{movie.plot}}</p>
    <p class="imdb_rating">{{movie.imdb_rating}}</p>

    <div>
        <h3 class="reviews-header">Reviews:</h3>
        {% if movie.reviews.all %}
            <ul class="reviews-list">
                {% for review in movie.reviews.all %}
                <li>{{review.review}} (by {{review.author}})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-reviews">Be the first to review this movie</p>
        {% endif %}
    </div>
{% endblock content %}
