{% extends '_base.html' %}

{% load static %}

{% block title %}
    {% if request.path == '/movies/' %}
        Best Ever
    {% endif %}

    {% if '/movies/search/' in request.path %}
        Search Results
    {% endif %}

    {% if request.path == '/movies/watched/' %}
        Watched Movies
    {% endif %}

    {% if request.path == '/movies/now_playing/' %}
        Now Playing
    {% endif %}
{% endblock title %}

{% block content %}
    {% include 'components/movie_list.html' %}
{% endblock content %}
