{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

    {% include 'components/nav.html' %}

    <div class="container">

        <!-- Title -->
        <h1 class="my-4">{% block title %}{% endblock title %}</h1>

        <!-- Main content -->
        {% block content %}{% endblock content %}

    </div>

    <!-- Footer -->
    <footer class="py-4 bg-dark footer">
        <p class="m-0 text-center text-white">Copyright &copy; Next_movie 2020</p>
    </footer>

    <!-- JS -->
    {% include 'components/post_load_js.html' %}
</body>


</html>
