{% extends '_base.html' %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<div class="email">Email address: {{profile.user.email}}</div>
<div class="watched-movies-average-rating">Average rating of watched movies: {{profile.watched_movies_average_rating}}</div>
<p>Charts</p>
<div class="watched-movies-genres-chart" id='watchedMoviesGenreChart'></div>
<div class="watched-movies-years-chart" id='watchedMoviesYearChart'></div>


<script src='{% static "js/profile_charts.js" %}'></script>

<script>

    function javaScriptObjectFromDjangoJson(djangoPayload){
        if (djangoPayload === "None"){
            return {}
        }
        try {
            return JSON.parse(djangoPayload.replaceAll(`&#x27;`, `"`))
        } catch (error){
            console.error(error)
            return {}
        }
    }

// chart for watched_movies_genres
        const watched_genres = javaScriptObjectFromDjangoJson("{{profile.watched_movies_genres}}")
        const any_watched_movies = Object.keys(watched_genres).length > 0

        if (any_watched_movies){
            renderWatchedMoviesGenreChart(getWatchedMoviesGenreChartData(watched_genres), 'watchedMoviesGenreChart')

            const watched_movies_years = javaScriptObjectFromDjangoJson("{{profile.watched_movies_years}}")
            renderWatchedMoviesYearsChart(getWatchedMoviesYearsChartData(watched_movies_years), 'watchedMoviesYearChart')
        }

</script>

{% endblock content %}
