{% load static %}


<h4>Image Gallery</h4>

<div class="movie-images">

    {% for image_info in movie.images.images %}
    <a href="{{image_info.url}}" data-toggle="lightbox" data-gallery="my-gallery">
        <img src="{{image_info.url}}" class="img-fluid" alt="image nr {{forloop.counter}}">
    </a>
    {% endfor %}

</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

<script>
    $(document).ready(function ($) {

        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    });
</script>
