{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
{% endblock %}

<h4>Image Gallery</h4>

<div class="movie-images">

    {% for image_info in movie.images.images %}
    <a href="{{image_info.url}}" data-toggle="lightbox" data-gallery="my-gallery">
        <img src="{{image_info.url}}" class="img-fluid">
    </a>
    {% endfor %}

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
