{% load static %}

<section class="reviews-section">

    <div class="reviews-container">
        <h5 class="reviews-header">Reviews:</h5>

        {% if perms.movies.paid_for_membership %}
        <div class="reviews-list">

            <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">

                {% for review in movie.reviews.all %}

                <div class="card">
                    <div class="card-header" role="tab" id="heading_{{forloop.counter}}">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{forloop.counter}}"
                                aria-expanded="true"
                                aria-controls="collapse_{{forloop.counter}}">
                                {% if review.contains_spoilers %}
                                <div class="alert alert-danger" role="alert">
                                    {{review.review_title}}&emsp;/SPOILER ALERT/
                                  </div>
                                {% else %}
                                    {{review.review_title}}
                                {% endif %}
                            </a>
                        </h5>
                    </div>

                    <div id="collapse_{{forloop.counter}}" class="collapse show" role="tabpanel"
                        aria-labelledby="heading_{{forloop.counter}}">

                        <div class="card-body">
                            <p class="review-rating"><strong>Author's Rating:</strong> {{review.author_rating}}</p>

                            <blockquote>
                                <p class="review-text">{{review.review_text}}</p>
                                <footer class="review-date"><strong>Review Date:</strong> {{review.submission_date}}</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="review-detail">

                </div>
                {% empty %}
                <p class="no-reviews">There are no reviews for this movies</p>
                {% endfor %}
            </div>
            {% else %}
            {% include 'components/prime_invitation.html' %}
            {% endif %}

        </div>

</section>
