{% load static %}

<h4>Mark movies as 'Seen' or 'Not Seen'</h4>

{% if perms.movies.paid_for_membership %}
    <div class="seen-movie-block">
        {% if user in movie.watched_by.all %}
            <a href="{% url 'toggle_seen' movie.pk %}">
                <ion-icon class="seen-icon" name="eye-sharp"></ion-icon>
            </a>
            <span>Seen</span>
        {% else %}
            <a href="{% url 'toggle_seen' movie.pk %}">
                <ion-icon class="not-seen-icon" name="eye-off-outline"></ion-icon>
            </a>
                <span>Not seen</span>
        {% endif %}
    </div>
{% else %}
    {% include 'components/prime_invitation.html' %}
{% endif %}
