{% load static %}

<section class="watched-movie-section">
    <h5>Mark movies as 'Watched' or 'Not Watched'</h5>

    {% if perms.movies.paid_for_membership %}
    <div class="watched-movie-block">
        {% if user.profile in movie.profile_set.all %}
        <a href="{% url 'toggle_watched' movie.pk %}">
            <ion-icon class="watched-icon" name="eye-sharp"></ion-icon>
        </a>
        <span>Watched</span>
        {% else %}
        <a href="{% url 'toggle_watched' movie.pk %}">
            <ion-icon class="not-watched-icon" name="eye-off-outline"></ion-icon>
        </a>
        <span>Not watched</span>
        {% endif %}
    </div>
    {% else %}
        {% include 'components/prime_invitation.html' %}
    {% endif %}
</section>
