{% load static %}

<section class="watched-movie-section">
    <h5>Mark 'Watched' or 'Not Watched'</h5>

    <div class="watched-movie-block row align-items-center justify-content-start">
        {% if user.profile in movie.profile_set.all %}
        <span class="col-lg-1 col-md-2">
            <a href="{% url 'toggle_watched' movie.pk %}">
                <ion-icon class="watched-icon" name="eye-sharp"></ion-icon>
            </a>
        </span>
        <span class=col>
            <span>Watched</span>
        </span>
        {% else %}
        <span class="col-lg-1 col-md-2">
            <a href="{% url 'toggle_watched' movie.pk %}">
                <ion-icon class="not-watched-icon" name="eye-off-outline"></ion-icon>
            </a>
        </span>
        <span class=col>
            <span>Not watched</span>
        </span>
        {% endif %}
    </div>
</section>
