{% extends '_base.html' %}

{% block title %}Membership{% endblock title %}

{% block content %}


<p>{{stripe_key}}</p>

<form action="{% url 'charge' %}" method="post">
    {% csrf_token %}

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripe_key}}"
        data-name="Prime Membership" data-description="Unlock your Prime Membership" data-amount="999"
        data-currency="gbp" data-locale="auto">
        </script>
</form>

{% endblock content %}
